@import 'base';

.wrapper {
  height: 100vh;

  .backdrop {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $backdrop;
  }

  .container {
    display: flex;
    flex-direction: column;
    @include center;
    width: 400px;
    padding: 2rem;
    border-radius: 6px;
    background-color: $white;
    @include shadow;

    .top {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 25px;

      h6 {
        color: $green;
      }

      .mdi-close-box {
        @include icon;
      }
    }
  }

  .sign-up-btn {
    display: flex;
    justify-content: center;
    cursor: pointer;
    text-shadow: none;
    background-color: $white;
    border: 1px solid $grey;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 9px 0;
    @include text;
    font-size: 12px;

    img {
      margin-right: 10px;
    }
  }

  .separator {
    @include separator;

    .middle {
      position: absolute;
      padding: 0 16px;
      background: $white;
      color: $green;
      top: -10.5px;
      left: 42%;
      @include text;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include text;

    .link {
      @include link;
    }

    .v-btn {
      @include btn;

      .mdi-loading {
        @include icon;
      }
    }

    .additional {
      margin-bottom: 10px;
      @include text;

      .link {
        @include link;
      }
    }

    .consent {
      margin-bottom: 30px;
      .margin {
        margin-right: 10px;
      }
    }
  }

  .modal {
    width: 450px;
    @include center;
    background-color: $white;
    border-radius: 3px;
    @include shadow;

    .form {
      padding: 30px 50px;
      @include text;

      .v-btn {
        @include btn;

        .mdi-loading {
          @include icon;
        }
      }
    }
  }
}

.custom-loader {
  animation: loader 1s infinite;
  display: flex;
}
@-moz-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-o-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
