.v-application ul {
  padding-left: 0px!important;
}

.v-application--wrap {
  flex: unset !important;
  width: 100%;

  .content {
    display: flex;
    justify-content: center;

    .flex-column {
      display: flex;
      flex-direction: row;
      margin-top: 44px;
      height: calc(100vh - 44px);
    }
  }
}